# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
# ------------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# ChatGPT
# -----------------------------------------------------------------------------

# see the `chatgpt` npm package readme for how to find this
OPENAI_API_KEY=

# -----------------------------------------------------------------------------
# Twitter API v2 (using OAuth 2.0)
# -----------------------------------------------------------------------------

# twitter app credentials for oauth 2.0
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# user refresh token
TWITTER_OAUTH_REFRESH_TOKEN=

# -----------------------------------------------------------------------------
# Optional Redis (for storing responses)
# -----------------------------------------------------------------------------

# change `enableRedis` in `src/config.ts` if you want to use redis
#REDIS_HOST=
#REDIS_PASSWORD=
