# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
# ------------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Twitter API v2
# -----------------------------------------------------------------------------

#TWITTER_API_KEY=
#TWITTER_API_SECRET_KEY=
#TWITTER_BEARER_TOKEN= 
